.loginform{
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 30%;
    height: 60%;
    margin: 100px auto;
    background-color: #ffffff;
    box-shadow: black;
    border:1px solid black;
    border-radius: 25px;
  }